.MOTV-list {
    /* width: 100%; */
    /* position: relative; */

    display: grid;
    grid-area: motvlist;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    padding: 15px;
    margin: 10px;
    background: white;
    border-radius: 3px;
    box-shadow: 0px 0px 15px 5px rgba(184, 181, 181, 0.75);
    /* height: 100%; */
}

.MOTV-list a {
    text-decoration: none;
}
